.dashboardWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboardMain {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  margin: 34px 34px 34px 0;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  border: 1.5px solid #ddd;
  box-shadow: 0 2px 6px rgb(92 77 125 / 0.07);
}
